<template>
    <div class="flex flex-col container mx-auto py-10">
        <form @submit.prevent="submitForm" class="flex flex-col space-y-5">
            <label>Title</label>
            <input v-model="title" class="w-1/3 p-5 border-2 border-cyan-400"  type="text">
            <label>post</label>
            <textarea v-model="posts" class="w-1/2 border-2 border-cyan-400 p-10" cols="40" rows="20"></textarea>
            <input class="rounded-lg w-40 p-5 bg-slate-500" type="submit" value="Submit">
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
           title: "",
           posts: ""
        }
    },
    methods: {
      async submitForm() {
          const res = await fetch('/backend-api', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                  title: this.title,
                  posts: this.posts
              })
          })
      }
    },
}
</script>